body::after {
    background-image: url('./images/background.jpg');
    content: "";
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-size: cover;
    filter: grayscale(100%);
}

/**
 * MAP
 */

.map {
    background-image: url('./images/backmap.jpg');
}

.location.lock .map-image {
    filter: grayscale(100%);
}

.point {
    transition-property: border, opacity;
    transition-duration: 0.5s;

}

.point.found {
    border: 2px solid red !important;
    opacity: 0.2 !important;
}

h1 {
    color: #4a4a4a;
    text-align: center;
}

.template {
    margin: 10px;
    border: 5px solid darkred;
    height: 500px;
    position: relative;
}

.buttons {
    text-align: center;
}

.buttons .location-btn {
    color: #fff;
    font-weight: bold;
    padding: 5px;
    background: darkred;
    display: inline-block;
    text-decoration: none;
}

/**
 * PANEL
 */

#PANEL {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 350px;
    background-color: #e1e1e1;
    height: 100%;
    border-left: 3px solid #c8c6c6;
}

#PANEL .content {
    padding: 10px;
}

#PANEL .content .label {
    text-align: center;
    font-weight: bold;
}

#PANEL .content .user-wrapper {
    padding: 10px;
    overflow-y: scroll;
    border-bottom: 1px solid #c8c6c6;
}

#PANEL .content .user-wrapper .empty-map {
    font-style: italic;
    text-align: center;
    margin-top: 50%;
}

#PANEL .content .user-wrapper .user-point {
    position: relative;
    margin-bottom: 5px;
    cursor: pointer;
    padding: 5px;
}

#PANEL .content .user-wrapper .user-point:hover {
    background-color: #c8c6c6;
}

#PANEL .content .user-wrapper .user-point .inline {
    display: inline-block;
}

#PANEL .content .user-wrapper .user-point .user-pic {
    margin-top: 2px;
    margin-left: 2px;
    position: relative;
}

#PANEL .content .user-wrapper .user-point .user-name {
    margin-left: 10px;
    margin-top: 7px;
    position: absolute;
}

#PANEL .content .btn-wrapper {
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin-top: 10px;
    cursor: pointer;
}

#PANEL .content .btn-wrapper .btn {
    padding: 10px;
    background: #bbed21;
    color: #535c69;
    width: 40%;
    text-align: center;
    border-radius: 2px;
}

/**
 * API
 */

.api {
    margin: 10px;
    background-color: #eeeeee;
    padding: 10px;
}

.api .example {
    margin-bottom: 15px;
}

.api .example input, .api .example button {
    display: block;
    margin-bottom: 5px;
}

.api .example .label {
    font-size: 12px;
    font-weight: bold;
}
