body::after {
    background-image: url('./images/background.jpg');
    content: "";
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-size: cover;
    filter: grayscale(100%);
}


/**
 * API
 */

.api {

}

.api .example {

}

.api .example .label {
    font-size: 12px;
    font-weight: bold;
}

.map {
    background-image: url('./images/backmap.jpg');
}

.location.lock .map-image {
    filter: grayscale(100%);
}

.point {
    transition-property: border, opacity;
    transition-duration: 0.5s;

}

.point.found {
    border: 2px solid red !important;
    opacity: 0.2 !important;
}

h1 {
    color: #4a4a4a;
    text-align: center;
}

.template {
    margin: 10px;
    border: 5px solid darkred;
    height: 500px;
}

.buttons {
    text-align: center;
}

.buttons .location-btn {
    color: #fff;
    font-weight: bold;
    padding: 5px;
    background: darkred;
    display: inline-block;
    text-decoration: none;
}

.api {
    margin: 10px;
    background-color: #eeeeee;
    padding: 10px;
}

.api .example {
    margin-bottom: 15px;
}

.api .example .label {

}

.api .example input, .api .example button {
    display: block;
    margin-bottom: 5px;
}

