.map-locations .map {
    position: relative;
    display: inherit;
}

.map-locations .map .item {
    width: 25px;
    height: 25px;
    background: red;
    border-radius: 20px;
    position: absolute;
}

.map-locations .map .tmp-item {
    transition: 0.1s;
}
